{% extends "base.html" %}

{% block title %}Images{% endblock title %}

{% block header %}Images{% endblock header %}

{% block content %}
  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Image Name</th>
        <th>View Rendering</th>
      </tr>
    </thead>
    <tbody>
      {% for image in images %}
      <tr>
        <td>{{ image }}</td>
        <td><a href="/image/{{ image }}/render/" >Render</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
