{% extends "base.html" %}

{% block title %}Viewer{% endblock title %}

{% block header %}Viewer - {{ image_name }}{% endblock header %}

{% block stylesheets %}
	<link rel="stylesheet" href="/static/javascript/raytrace/style.css" type="text/css" media="screen" />
{% endblock stylesheets %}

{% block javascript %}
	<script type='text/javascript' src='/static/javascript/configuration.js'></script>
	<script type='text/javascript' src='/static/javascript/raytrace/atvtdemo.js'></script>
	<script type='text/javascript' src='/static/javascript/raytrace/atvoltex.js'></script>
	<script type='text/javascript' src='/static/javascript/raytrace/J3DI.js'></script>
	<script type='text/javascript' src='/static/javascript/raytrace/J3DIMath.js'></script>
	<script type='text/javascript' src='/static/javascript/raytrace/webgl-utils.js'></script>
		
    <script id="vshader" type="x-shader/x-vertex">// <![CDATA[
			attribute vec3 vPosition;
			varying vec3 v_Color;
			void main()
			{	    
				v_Color = vPosition;
				gl_Position = vec4(vPosition, 1.0);
			}
			// ]]&gt;
		</script>
		<script id="fshader" type="x-shader/x-fragment">
			#ifdef GL_ES
			precision mediump float;
			#endif
			varying vec3 v_Color;
			void main()
			{
				gl_FragColor = vec4(v_Color, 1.0);
			}
		</script>
{% endblock javascript %}

{% block content %}
<div class="container" data-url="/image/{{ image_name }}/?size={{ size }}" id="viewerContainer">
	<div style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;">
		<canvas id="webgl_canvas" style="border: 1px solid #202020; margin-top: 5px; margin-bottom: 5px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" width="800" height="600"><br />
Your browser does not support the HTML 5 &lt;canvas&gt; element.<br />
    </canvas>
	<div id="control">
		<button type="button" style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" onclick="loadHead();">Head</button>
		<button type="button" style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" onclick="decreaseBrightness();">-</button>
		<button type="button" style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" onclick="increaseBrightness();">+</button>
		<button type="button" style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" onclick="decreaseSize();">s</button>
		<button type="button" style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" onclick="increaseSize();">S</button>
		<button type="button" style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" onclick="toggleLinearFiltering();">HiQ</button> <span id="hiq" style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;"></span> 
		<button type="button" style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" onclick="decreaseNumberOfSteps();">.</button>
		<button type="button" style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" onclick="increaseNumberOfSteps();">&#8230;</button>
		<span id="framerate" style="-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;">Select a dataset to start</span>
	</div>
    <span style="display: inline-block; width: 33px; vertical-align: middle; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;">Red</span> 
    <canvas style="margin-top: 10px; border: 1px solid #202020; vertical-align: middle; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" id="canvas_red" width="522" height="42">
    </canvas> 
    <button style="vertical-align: bottom; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" type="button" onclick="clear2D(0);">Reset</button><br />
    <span style="display: inline-block; width: 33px; vertical-align: middle; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;">Green</span> 
    <canvas style="margin-top: 10px; border: 1px solid #202020; vertical-align: middle; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" id="canvas_green" width="522" height="42">
    </canvas>
    <button style="vertical-align: bottom; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" type="button" onclick="clear2D(1);">Reset</button><br />
    <span style="display: inline-block; width: 33px; vertical-align: middle; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;">Blue</span> 
    <canvas style="margin-top: 10px; border: 1px solid #202020; vertical-align: middle; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" id="canvas_blue" width="522" height="42">
    </canvas> 
    <button style="vertical-align: bottom; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" type="button" onclick="clear2D(2);">Reset</button><br />
    <span style="display: inline-block; width: 33px; vertical-align: middle; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;">Alpha</span> <canvas style="margin-top: 10px; border: 1px solid #202020; vertical-align: middle; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" id="canvas_alpha" width="522" height="42"></canvas> <button style="vertical-align: bottom; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -webkit-user-select: none;" type="button" onclick="clear2D(3);">Reset</button>
	</div>
	<div id="fps">

	</div>
  <p>
    <script type="text/javascript">// <![CDATA[
      initCanvases();
      // ]]&gt;
    </script>
  </p>

  <div id="configurationContainer">
    <div class="actions well">
      <button id="save_configuration" class="btn primary" data-url="/image/{{ image_name }}/configuration/">Save Current Configuration</button>
    </div>
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>Configuration</th>
          <th>Select Configuration</th>
        </tr>
      </thead>
      <tbody>
        {% for configuration in configurations %}
        <tr>
          <td>{{ configuration }}</td>
          <td><button class="config_link btn" data-url="/image/{{ image_name }}/configuration/{{ configuration }}/{{ loop.counter0 }}/" >Load Configuration</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
