.content {
  position: relative;
  top: 40px;
  
  header {
    border-bottom: 2px solid #CCC;
    width: 80%;
    margin: 0 auto;

    h1 {
      margin-top: 10px;
    }
  }
  section {
    margin: 30px 0;

  }
  
  .controls {
    max-width: 100px;
  }
  
  .viz {
    margin-left: 50px;
  }
  #webgl_canvas {
    border: 1px solid #202020; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    -moz-user-select: 
    -moz-none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -webkit-user-select: none;  
    height: 500px;
    width: 700px;
  }
  .slider_wrapper {
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
  }

  .slider {
    height: 90px;
    margin-top: 10px;
    //display: inline-block;
  }
  
  .slider-container {
  }

  .controls-container {
    float: left;
    margin: 0 20px;
  }

  #hidden {
    display: none;
  }
}
