<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <link type="text/css" rel="stylesheet/less" href="/static/stylesheets/main.less">
    <link type="text/css" rel="stylesheet/less" href="/static/stylesheets/lib/bootstrap.less">

    <script type="text/javascript" src="/static/javascript/less-1.1.3.min.js"></script>

    <title>Image Upload</title>
  </head>
  <body>
    <div id="content">
      <div class="topbar-wrapper">
        <div class="topbar" data-dropdown="dropdown">
          <div class="topbar-inner">
            <div class="container">
              <h3>
                <a href="#">Mediscan</a>
              </h3>
              <ul class="nav">
                <li><a href="/image/">Images</a></li>
                <li><a href="/image/upload/">Upload</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <header>
        <h1>Upload an Image Scan</h1>
      </header>
      <section>
        <div class="alert-message success">
          <a class="close" href="#">x</a>
          <p>
            <strong>Success!</strong>
            The image was successfully uploaded.
          </p>
        </div>
        <form method="post" action="/image/" enctype="multipart/form-data">
          <fieldset>
            <legend>Image Upload</legend>
            <div class="clearfix">
              <label>Image Scan Upload</label>
              <div class="input">
                <input type="file" name="file" class="input-file">
              </div>
            </div>
            <div class="well actions">
              <div class="input">
                <input type="Submit" value="Upload" class="btn primary">
              </div>
            </div>
          </fieldset>
        </form>
      </section>
    </div>
  </body>
</html>
