{% extends "base.html" %}

{% block title %}Images{% endblock title %}

{% block header %}Image Upload{% endblock header %}

{% block content %}
  {% if success %}
  <div class="alert-message success">
    <a class="close" href="#">x</a>
    <p>
      <strong>Success!</strong>
      The image was successfully uploaded.
    </p>
  </div>
  {% elif error %}
  <div class="alert-message error">
    <a class="close" href="#">x</a>
    <p>
      <strong>Error!</strong>
      There was an error uploading your file.
    </p>
  </div>
  {% endif %}
  <form method="post" action="/image/upload/" enctype="multipart/form-data">
    <fieldset>
      <legend>Image Upload</legend>
      <div class="clearfix">
        <label>Image Scan Upload</label>
        <div class="input">
          <input type="file" name="file" class="input-file">
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          or
        </div>
      </div>
      <div class="clearfix">
        <label>Image URL</label>
        <div class="input">
          <input type="url" name="scan_url" class="xlarge">
        </div>
      </div>
      <div class="well actions">
        <div class="input">
          <input type="Submit" value="Upload" class="btn primary">
        </div>
      </div>
    </fieldset>
  </form>
{% endblock content %}
